body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-dark{
    background-color: #2c2c2c;
}

.container-light{
    background-color: rgb(255, 255, 255);
}

.top-ui{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.light-footer{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffe4c4;
}

.dark-footer{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(95, 95, 95);
}

.light-header{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: bisque;
    margin-bottom: 5px;
}

.dark-header{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #5f5f5f;
    margin-bottom: 5px;
}
