body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.Container-dark{
    background-color: rgb(44, 44, 44);
}

.Container-light{
    background-color: rgb(255, 255, 255);
}

.top-ui{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.light-footer{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: bisque;
}

.dark-footer{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(95, 95, 95);
}

.light-header{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: bisque;
    margin-bottom: 5px;
}

.dark-header{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(95, 95, 95);
    margin-bottom: 5px;
}
