.card {
    position: relative; /* Ensure the card is a positioned element */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 16px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 10px;
}

.card-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.pin-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 30px; /* Ensure the size is consistent */
    cursor: pointer; /* Optional: change cursor to pointer */
    margin-bottom: 0px;
}

.card-gif{
    margin-top: 10px;
}

.card-buttons button:hover{
    transform: scale(1.07);
    transition: transform 0.3s;
}
.board-card h3{
    margin-bottom: 0px;
    margin-top: 10px;
}

.delete-button{
    margin-left: 60px;
}
