.light-card {
    position: relative; /* Ensure the card is a positioned element */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 16px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 10px;
}

.dark-card {
    position: relative; /* Ensure the card is a positioned element */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 16px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin: 10px;
}

.card-buttons .upvote-button,
.card-buttons .delete-button,
.card-buttons .comment-button {
    flex: 1; /* Make each button take equal space */
    margin: 0 5px; /* Add some margin between buttons */
    padding: 10px; /* Add padding for better button size */
    border: none; /* Remove default border */
    border-radius: 4px; /* Add rounded corners */
    background-color: #5484b7; /* Button background color */
    color: white; /* Button text color */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.card-buttons .upvote-button:hover,
.card-buttons .delete-button:hover,
.card-buttons .comment-button:hover {
    background-color: #0056b3; /* Darker color on hover */
    transform: scale(1.07); /* Slightly enlarge on hover */
    transition: transform 0.3s;
}


.light-pin-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 30px; /* Ensure the size is consistent */
    cursor: pointer; /* Optional: change cursor to pointer */
    margin-bottom: 0px;
}

.dark-pin-button {
    position: absolute;
    top: 10px; 
    left: 10px;
    width: 30px;
    cursor: pointer;
    margin-bottom: 0px;
    filter: invert(1);
}

.dark-card h3{
    color: white;
}
.dark-card p{
    color: white;
}

.dark-card .card-gif{
    border: white solid 1px;
}

.card-gif{
    margin-top: 10px;
}

.card-buttons button:hover{
    transform: scale(1.07);
    transition: transform 0.3s;
}
.board-card h3{
    margin-bottom: 0px;
    margin-top: 10px;
}

.delete-button{
    margin-left: 60px;
}
