.light-top-portion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.dark-top-portion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.dark-top-portion h1{
    color: white;
}


.dark-top-portion img{
    filter: invert(1);
}


.light-view-board{
    background-color: white;
}

.dark-view-board{
    background-color: rgb(44, 44, 44);
}

.top-portion button{
    width: 150px;
}

#home-button{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.no-cards{
    border: 1px solid black;
    padding: 12px;
    margin-top: 100px;
}
